/* GLOBAL */

$color-one: #ffffff;
$color-two: #fed136;
$color-three: #333333;

$font-text: 'Roboto Slab', serif;
$font-header-1: 'Montserrat', sans-serif;
$font-header-2: 'Noto Serif', serif;

/* NAVIGATION*/

.navbar .navbar-brand {
  margin: 44px 0;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 14px;
  margin-left: 10px;
}
.fa-bars {
  color: #ffffff;
  font-size: 30px;
}

.bg-dark{
background-color: #343435e6!important;
}

.nav-link{
  color: #ffffff;
  font-family: $font-header-1;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.nav-link:hover{
  color: #fed136;
}

/* MAIN BANNER */

.banner-inner{
    height: 100vh;
    background: #333333;
}

.banner-item{
    height: 100vh;
}

.banner-item img{
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

.carousel-caption{
    right: auto;
    bottom: auto;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%)
}

.banner-small-text{
    font-family: $font-header-2;
    font-size: 40px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.banner-big-text{
    font-family: $font-header-1;
    font-size: 75px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-banner{
    margin-top: 60px;
    padding: 25px 50px;
    background-color: #fed136;
    border: none;
    font-family: $font-header-1;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-banner:hover{
  box-shadow: inset 0px 0px 0px 2px #fed136;
  background: none;
  color: #ffffff;
  cursor: pointer;
}

/* SERVICES */

.section-titles{
  text-align: center;
  padding: 120px 0 40px 0;
}

.section-big-text{
  font-family: $font-header-1;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-small-text{
  font-family: $font-header-2;
  font-size: 16px;
  letter-spacing: 1px;
}

.block-big-text{
  font-family: $font-header-1;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.block-small-text{
  font-family: $font-text;
  font-size: 14px;
  font-weight: regular;
  color: #777777;
}

.card{
  border: none;
}

.card i{
  font-size: 26px;
  border: 3px solid $color-two;
  padding-top: 15px;
  width: 66px;
  height: 66px;
  line-height: 32px;
  color: $color-two;
  border-radius: 50%;
  transition: transform .5s;
  margin-bottom: 25px;
}

.card-body{
  text-align: center;
  padding: 30px 0 30px 0;
}

/* PORTFOLIO */

.portfolio{
  background: #f7f7f7
}

.portfolio-item{
  padding-bottom: 50px;
}

.portfolio-title{
  text-align: center;
  padding: 120px 0 80px 0;
}

.information{
  padding-bottom: 72px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.portfolio-text-big{
  font-family: $font-header-1;
  font-size: 18px;
  margin-bottom: 0.1rem;
}

.portfolio-text-small{
  font-family: $font-header-2;
  font-size: 14px;
  color: #777777;
  margin-bottom: 0.0rem;
}

/* FOOTER */

footer{
  margin: 40px 0 40px 0;
}

.footer-child{
    text-align: left;
}

footer i{
    font-size: 20px;
    background: $color-three;
    padding-top: 10px;
    width: 40px;
    height: 40px;
    line-height: 60px;
    color: $color-one;
    border-radius: 50%;
    transition: transform .5s;
}

footer i:hover{
    transform: scale(1.5);
}

.footer-child li{
    font-size: 0;
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}

.copywright{
  margin: auto;
}

.copywright p{
  font-size: 14px;
  margin-bottom: 0rem;
}

.container ul{
  margin-bottom: 0rem;
}

/* MOBILE WERSION ------------------------------ */

@media (max-width: 768px){
  .copywright{
    padding-bottom: 30px;
    text-align: center;
  }

  .footer-child{
    text-align: center;
    padding: 0px;
  }

  .banner-small-text{
    font-size: 26px;
  }

  .banner-big-text{
    font-size: 40px;
  }

  .btn-banner{
    font-size: 14px;
  }

  .navbar .navbar-brand {
    margin: 20px 0;
  }
}


@media (min-width: 768px)and(max-width: 991px){
  .copywright{
    padding-bottom: 30px;
    text-align: center;
  }

  .footer-child{
    text-align: center;
    padding: 0px;
  }

  .navbar .navbar-brand {
    margin: 20px 0;
  }
}
