/* GLOBAL */

$color-one: #ffffff;
$color-two: #fed136;

$font-text: 'Roboto Slab', serif;
$font-header-1: 'Montserrat', sans-serif;
$font-header-2: 'Noto Serif', serif;

.container{
  width: 940px;
}

/* NAVIGATION*/


/* MAIN BANNER */

.banner-inner{
    height: 100vh;
    background: #333333;
}

.banner-item{
    height: 100vh;
}

.banner-item img{
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

.carousel-caption{
    right: auto;
    bottom: auto;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%)
}

.banner-small-text{
    font-family: $font-header-2;
    font-size: 40px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.banner-big-text{
    font-family: $font-header-1;
    font-size: 75px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-banner{
    margin-top: 60px;
    padding: 25px 50px;
    background-color: #fed136;
    border: none;
    font-family: $font-header-1;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-banner:hover{
  box-shadow: inset 0px 0px 0px 2px #fed136;
  background: none;
  color: #ffffff;
  cursor: pointer;
}

/* SERVICES */

.section-titles{
  text-align: center;
  padding: 120px 0 40px 0;
}

.section-big-text{
  font-family: $font-header-1;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-small-text{
  font-family: $font-header-2;
  font-size: 16px;
  letter-spacing: 1px;
}

.block-big-text{
  font-family: $font-header-1;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.block-small-text{
  font-family: $font-text;
  font-size: 14px;
  font-weight: regular;
  color: #777777;
}

.card{
  border: none;
}

.card i{
  font-size: 26px;
  border: 3px solid $color-two;
  padding-top: 15px;
  width: 66px;
  height: 66px;
  line-height: 32px;
  color: $color-two;
  border-radius: 50%;
  transition: transform .5s;
  margin-bottom: 25px;
}

.card-body{
  text-align: center;
  padding: 0;
}
