/* GLOBAL */

.container{
  width: 940px;
}

/* NAVIGATION*/

.navbar-logo{
  padding: 44px 0 44px 0;
}

/* MAIN BANNER */

.main-banner{

}

.main-banner-inner{
  height: 100vh;
  background: #333333;
}

.banner-item{
  height: 100vh;
}

.banner-item img{
    height: 100%;
    object-fit: cover;
}
